@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif; }

*, p, a {
  font-size: 14px; }

a {
  color: #333; }

ul {
  list-style: none; }

.datepicker {
  padding: 10px; }

.custom-heading {
  color: #333; }
  .custom-heading--green {
    background-image: linear-gradient(to left, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    letter-spacing: 2px; }

.custom-text {
  color: #999;
  font-size: 14px; }

.page-bg {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to left, #7ed56f, #28b485); }

.page-medicine {
  max-height: 100vh;
  overflow-y: hidden; }

.login-box {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .login-box:hover {
    transform: translate(-50%, -51%); }

.button,
.button:link {
  align-self: center;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #333;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  transition: all .4s; }
  .button:hover,
  .button:link:hover {
    text-decoration: none;
    background-image: linear-gradient(to left, #7ed56f, #28b485);
    border-color: transparent;
    color: #fff;
    width: 220px; }

.submitBtn {
  width: auto;
  padding: 8px 30px;
  border-radius: 100px;
  align-self: center;
  border: 1px solid currentColor;
  color: #333;
  box-sizing: border-box;
  text-align: center;
  transition: all .4s; }
  .submitBtn:hover {
    padding: 8px 40px;
    text-decoration: none;
    background-image: linear-gradient(to left, #7ed56f, #28b485);
    border-color: transparent;
    color: #fff; }
  .submitBtn--sub {
    border: #ccc;
    color: #999;
    background-color: transparent;
    padding: 3px 0px;
    border-radius: 0;
    position: relative; }
    .submitBtn--sub:hover {
      padding: 3px 0px;
      background-image: none;
      color: #333;
      border-bottom: 1px solid #333; }

.cancelBtn {
  color: #666;
  padding: 8px 25px; }
  .cancelBtn:hover {
    background-image: none;
    background-color: #666;
    padding: 8px 30px; }

.closingBtn {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid currentColor;
  color: #333;
  border-radius: 50%;
  line-height: 27px;
  text-align: center;
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer; }
  .closingBtn:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
    text-decoration: none; }

.logoutBtn {
  padding: 5px 15px; }
  .logoutBtn:hover {
    padding: 5px 20px; }

.editBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 5px 15px;
  color: #999; }
  .editBtn:hover {
    padding: 5px 20px; }

.detailBtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #666;
  color: #666;
  border-radius: 100px;
  transition: all .3s; }
  .detailBtn:hover {
    background-color: #666;
    color: #fff;
    text-decoration: none; }

.init__step .current {
  color: #55c57a;
  border-color: #55c57a; }

.init__cell {
  padding: 5px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 50px;
  position: relative; }
  .init__cell:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 3px);
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ccc; }

.init__medicine {
  width: 50%;
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden; }

.card__medicine {
  padding: 20px 0;
  max-height: calc(100vh - 60px);
  overflow: hidden; }

.card-body__medicine {
  overflow-y: scroll;
  padding: 0 35px; }

.medicine__list {
  margin-top: 30px;
  border-top: 1px solid #aaa; }
  .medicine__list-item {
    padding: 10px 0; }
    .medicine__list-item:not(:last-child) {
      border-bottom: 1px solid #ccc; }
  .medicine__list-icon {
    display: inline-block;
    font-size: 16px;
    border: 1px solid currentColor;
    width: 30px;
    height: 30px;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    color: #55c57a; }
    .medicine__list-icon:hover {
      color: #28b485; }
    .medicine__list-icon--delete {
      color: orangered; }
      .medicine__list-icon--delete:hover {
        color: #dc3545; }

header {
  background-image: linear-gradient(to left, #7ed56f, #28b485);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.main {
  margin-top: 130px; }

.logout__bar {
  border: 1px solid #fff;
  padding: 0 20px;
  border-radius: 100px;
  background-color: #fff; }

.dashboard {
  background-color: #fdfdfd;
  margin-bottom: 30px; }
  .dashboard__card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 100%; }
  .dashboard__fall {
    height: calc(30% - 15px);
    margin-bottom: 30px; }
  .dashboard__door {
    height: calc(70% - 15px); }

.member__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #28b485;
  align-self: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.record__list-item {
  padding: 15px 0; }
  .record__list-item:not(:last-child) {
    border-bottom: 1px solid #ccc; }

.record__list-icon {
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border: 1px solid currentColor;
  border-radius: 50%; }
  .record__list-icon--green {
    color: #55c57a; }
  .record__list-icon--red {
    color: #dc3545; }

.overlay__background {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all .3s; }

.overlay__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: 70%;
  max-width: 1100px;
  box-sizing: border-box;
  transition: all .3s; }

.overlay__contact {
  display: none;
  width: 50%;
  max-width: 800px; }

.overlay__medicine {
  display: none;
  max-height: calc(100vh - 60px);
  overflow-y: scroll; }

.overlay__medicine-record {
  display: none;
  max-height: calc(100vh - 60px);
  overflow-y: scroll; }

.overlay__door {
  display: none;
  width: 50%;
  max-width: 800px; }
